@model Pedido

<div class="container my-5">

    <div class="jumbotron text-center">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>

    <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title">Detalhes do Pedido</h5>
            <p><strong>Cliente:</strong> @Model.Nome</p>
            <p><strong>Data do Pedido:</strong> @Model.PedidoEnviado</p>
            <p><strong>Número do Pedido:</strong> @Model.PedidoId</p>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Quantidade</th>
                        <th>Produto</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PedidoItens)
                    {
                        <tr>
                            <td><img src="@item.Produto.ImagemUrl" class="img-fluid" style="width: 40px; height: 40px;" /></td>
                            <td>@item.Quantidade</td>
                            <td>@item.Produto.Nome</td>
                            <td>@item.Produto.Preco.ToString("C2")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4 class="mt-4">Valor Total do Pedido: <strong>@(((decimal)ViewBag.TotalPedido).ToString("C2"))</strong></h4>
        </div>
    </div>

    <div class="text-center mt-4">
        <h3>
            <a class="nav-link text-light btn btn-secondary" asp-controller="Home" asp-action="Index">Retornar</a>
        </h3>
    </div>
</div>
