@model CarrinhoCompraViewModel

@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <div class="row">
        <h3>Carrinho de Compra <i class="bi-cart-fill me-1"></i></h3>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th class="text-center">Quantidade</th>
                    <th class="text-center">Produto</th>
                    <th class="text-center">Preço</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-center">@item.Produto?.Nome</td>
                        <td class="text-center">@item.Produto?.Preco.ToString("c")</td>
                        <td class="text-right">
                            @((item.Quantidade * item.Produto.Preco).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoveItemDoCarrinho"
                               asp-route-produtoId="@item.Produto.Id" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><strong>Total:</strong></td>
                    <td class="text-right">
                        <strong>
                            @Model.CarrinhoCompraTotal.ToString("c")
                        </strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Produtos" asp-action="List">Continuar Comprando</a>
            </div>
        </div>
        <br />
    </div>
</div>